#header {
	height: 80px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	.header {
		&_left {
			height: 100%;
			width: 88%;
			background: $color3;
			.container {
				display: flex;
				align-items: center;
				line-height: 80px;
				.header_list {
					display: flex;
					align-items: center;
					li {
						margin-right: 30px;
						&:last-child {
							margin-right: 0;
						}
						a {
							font-size: .9rem;
						}
					}
				}
			}
		}
		&_right {
			width: 12%;
			background: $color1;
			height: 100%;
			text-align: center;
			a {
				display: block;
				line-height: 80px;
				color: $color2;
				font-size: .75rem;
				&:hover {
					background: $color4;
				}
			}
		}
	}
}

#mv {
	img {
		height: calc(100vh - 80px);
	}
}

main {
	background: $color3;
	.news {
		display: flex;
		align-items: center;
		li {
			width: calc(100% / 3);
			font-size: .9rem;
			padding: 10px 20px;
			border-right: 1px solid $color1;
			&:first-child {
				padding: 10px 20px 10px 0;
			}
			&:last-child {
				border-right: 0;
				padding: 10px 0 10px 20px;
			}
			.news_top {
				margin-bottom: 17px;
				time {
					margin-right: 15px;
				}
				span {
					background: $color1;
					color: $color2;
					padding: 5px;
					font-size: .8rem;
				}
			}
		}
	}

	#about {
		display: flex;
		align-items: flex-start;
		img {
			width: 55%;
			height: 400px;
		}
		.about_right {
			width: 45%;
			padding: 180px 5% 0;
			p {
				line-height: 2rem;
				font-size: .9rem;
			}
		}
	}

	.business_content {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		padding: 0 100px;
		li {
			width: 45%;
			&:nth-child(odd) {
				position: relative;
				top: 100px;
			}
			&:nth-child(1),
			&:nth-child(2) {
				margin-bottom: 50px;
			}
			p {
				position: relative;
				font-weight: bold;
				font-size: .9rem;
				margin-bottom: 10px;
				padding-left: 15px;
				&::before {
					content: "";
					position: absolute;
					width: 10px;
					height: 1px;
					background: $color1;
					top: 50%;
					left: 0;
				}
			}
		}
	}

	#company {
		position: relative;
		.company_content {
			width: 55%;
			padding: 100px 8% 100px 6%;
			background: $color2;
			dl {
				display: flex;
				align-items: flex-start;
				flex-wrap: wrap;
				font-size: .9rem;
				dt {
					width: 20%;
					margin-bottom: 15px;
					&:last-child {
						margin-bottom: 0;
					}
				}
				dd {
					width: 80%;
					margin-bottom: 15px;
					&:last-child {
						margin-bottom: 0;
					}
					li {
						margin-bottom: 15px;
						&:last-child {
							margin-bottom: 0;
						}
					}
				}
			}
		}
		img {
			position: absolute;
			top: 100px;
			left: 48%;
			width: 32.5%;
			height: 400px;
		}
	}
}

#footer {
	.footer_top {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 40px 0;
		p {
			font-size: .9rem;
			line-height: 1.25rem;
		}
	}
	.footer_bottom {
		padding-bottom: 20px;
		p {
			font-size: .5rem;
		}
	}
}