@media screen and (max-width: 900px) {
	.container {
		padding: 0 15px;
	}
	.section {
		margin: 80px 0;
		&:nth-child(4) {
			margin: 80px 0;
		}
		&:nth-child(5) {
			margin: unset;
			padding: unset;
		}
		&_ttl_box {
			margin-bottom: 37px;
		}
	}
	.logo {
		float: left;
		margin-right: 0;
		width: 80px;
		margin-bottom: 5px;
	}

	#header {
		.header {
			&_left {
				width: 100%;
				.container {
					flex-flow: column;
					align-items: flex-start;
					line-height: unset;
					height: 100%;
					.logo {
						margin-top: 20px;
					}
				}
			}
			&_right {
				display: none;
			}
		}
	}

	main {
		.news {
			flex-flow: column;
			li {
				width: 100%;
				padding: 10px 0;
				margin-bottom: 20px;
				border-right: none;
				&:last-child {
					margin-bottom: 0;
				}
				&:first-child {
					padding: 10px 0;
				}
				&:last-child {
					padding: 10px 0;
				}
			}
		}

		#about {
			flex-flow: column;
			img {
				height: 300px;
				width: 100%;
				margin-bottom: 30px;
			}
			.about_right {
				width: 100%;
				padding: 0 15px;
			}
		}

		.business_content {
			flex-flow: column;
			padding: unset;
			li {
				width: 100%;
				margin-bottom: 30px;
				&:nth-child(odd) {
					top: unset;
				}
			}
		}

		#company {
			position: static;
			.company_content {
				width: 100%;
				padding: 40px 20px;
				margin-bottom: 20px;
				dl {
					flex-flow: column;
					dd {
						padding-left: 14px;
					}
				}
			}
			img {
				position: static;
				top: unset;
				width: 100%;
			}
		}
	}

	#footer {
		.container {
			margin: 0;
			max-width: unset;
		}
		.footer_top {
			flex-flow: column;
			align-items: flex-start;
		}
	}
}